::selection {
  background: #42b983;
  color: #fff;
}
html {
  height: 100%;
}
body {
  font-family: 'Helvetica Neue', 'San Francisco', 'Segoe UI', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  position: relative;
  height: 100%;
  margin: 0;
  color: #34495e;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 15px;
  }
}
input, button {
  font-family: 'Helvetica Neue', 'San Francisco', 'Segoe UI', Arial, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
ol, ul, form, p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #42b983;
  cursor: pointer;
  border-bottom: 1px solid rgba(66,185,131,0);
}
a:hover {
  border-bottom: 1px solid #42b983;
}
p {
  word-spacing: 0.05em;
}
h2 {
  font-weight: 300;
}
main {
  width: 100%;
}
article {
  width: 100%;
}
aside {
  width: 280px;
}
.flex-box {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  transform: unset !important;
}
.app-body {
  padding: 2em 1em;
  margin: 0 auto;
  width: calc(100% - 2em);
  max-width: 980px;
  position: relative;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
  flex: 1 0 auto;
}
.article-card {
  padding-bottom: 20px;
}
.article-card:first-child {
  margin-top: 60px;
}
.article-card a.more {
  border-bottom: 2px solid transparent;
}
.article-card a.more:hover {
  border-bottom: 2px solid #42b983;
}
h2.article-head {
  font-size: 1.6em;
  margin-bottom: 0;
}
.article-head > a {
  color: #34495e;
}
.article-head > a:hover {
  border-bottom: 2px solid #42b983;
}
.article-date {
  color: #7f8c8d;
  margin: 10px 0;
  font-size: 0.9em;
}
.article-summary {
  margin: 10px 0;
  color: #34495e;
}
.more {
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s;
}
.more:hover {
  transform: translateX(10px);
}
#article-banner {
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 100px 20px 25px 20px;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 0 0 auto;
}
@media screen and (max-width: 480px) {
  #article-banner {
    padding: 80px 10px 25px 10px;
  }
}
#article-banner h2 {
  margin: 0.4em 0;
  font-size: 2.2em;
  color: #fff;
  text-shadow: 0 0 40px #34495e;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
}
@media screen and (max-width: 480px) {
  #article-banner h2 {
    font-size: 2em;
  }
}
#article-banner .post-date {
  margin: 10px 0 20px 0;
  color: #fff;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
  transition-delay: 0.05s;
}
#article-banner .arrow-down {
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
  transition-delay: 0.1s;
}
#article-banner .arrow-down a {
  z-index: 4;
  display: block;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  animation-name: shine;
  -webkit-animation-name: shine;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
.post-article {
  margin-top: 0;
  width: 100%;
}
.scroll-top {
  cursor: pointer;
  opacity: 0;
  position: fixed;
  box-sizing: border-box;
  right: 2em;
  bottom: 45px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #42b983;
  border-radius: 20px;
  transform: translate(80px, 0);
  transition: all 0.3s ease;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.12), 0 3px 3px 0 rgba(0,0,0,0.24);
}
.scroll-top .arrow-icon {
  background-image: url("images/top.png");
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
}
.opacity {
  opacity: 1;
  transform: translate(0, 0);
}
.header {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: background 0.5s, box-shadow 0.2s;
  flex: 0 0 auto;
}
.header .home-link {
  border-bottom: none;
}
.header .home-link:hover {
  border-bottom: none;
}
.header-border {
  box-shadow: 0 0 3px rgba(14,14,14,0.26);
}
.fixed-header {
  position: fixed;
  background-color: rgba(255,255,255,0.98);
}
.fixed-header .home-link {
  color: #42b983;
}
.fixed-header .menu .icon-bar {
  background-color: #7f8c8d;
}
.fixed-header .item-link {
  color: #34495e;
}
.fixed-header .item-icon-link {
  color: #34495e;
}
.header-container {
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 40px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .header-container {
    padding: 6px 20px;
    position: relative;
  }
}
.home-link {
  display: flex;
  align-items: center;
  float: left;
  font-weight: 500;
  color: #fff;
  font-size: 1.5em;
  line-height: 40px;
}
.right-list {
  list-style: none;
  float: right;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .right-list {
    display: none;
  }
}
.list-item {
  display: inline-block;
  margin: 0 8px;
}
.item-link {
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  padding-bottom: 3px;
}
.item-link:hover {
  border-bottom: 3px solid #42b983;
}
.item-icon-link {
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  padding-bottom: 3px;
}
.item-icon-link:hover {
  cursor: pointer;
}
#search-form {
  display: none;
}
.search-box, .search-go {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  padding: 5px 15px;
  width: auto;
  max-width: 200px;
  color: #222;
}
.search-box {
  border-radius: 5em 0 0 5em;
  margin-right: 0;
}
.search-go {
  border-radius: 0 5em 5em 0;
  margin-left: 0;
  cursor: pointer;
}
.search-box:focus, .search-go:focus {
  outline: none;
}
.fixed-header .search-box, .fixed-header .search-go {
  background-color: #98d9b5;
  color: #222;
}
.app-footer {
  padding: 1em 0;
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  text-align: center;
  font-size: 0.9em;
  flex: 0 0 auto;
}
.copyright {
  color: #7f8c8d;
  line-height: 1.5;
}
.guide-pager {
  margin: 1em 3em;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
}
.page-arrow {
  color: #34495e;
}
.news-entry p,
.article-summary p {
  text-indent: 2em;
  line-height: 1.6em;
  margin-top: 0.3em;
}
.news-entry h2,
.article-summary h2 {
  font-size: 1.5em;
}
.news-entry img,
.article-summary img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}
.key {
  color: red;
}
.table-trending {
  margin-top: 30px;
  text-align: center;
  margin: 1em auto;
}
.table-trending tr th {
  background-color: #42b983;
  color: #fff;
}
.table-trending tr:nth-of-type(odd) td {
  background-color: #98d9b5;
  color: #fff;
}
.table-trending tr:nth-of-type(even) {
  background-color: #fff;
}
.table-trending tr th, .table-trending tr td {
  padding: 5px 20px;
}
.catalog-container {
  display: block;
  margin-left: 20px;
  flex-basis: 280px;
  -webkit-flex-basis: 280px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media screen and (max-width: 960px) {
  .catalog-container {
    display: none;
  }
}
.catalog-container .toc-main {
  padding-left: 20px;
  border-left: 1px solid #e5e5e5;
  width: 280px;
  margin-top: 60px;
  box-sizing: border-box;
}
.catalog-container .toc-main .toc-title {
  font-size: 1.2em;
  position: relative;
  padding-left: 28px;
}
.catalog-container .toc-main .toc-title:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 2px;
  background: url("images/catalog.png") no-repeat;
  background-size: contain;
}
.catalog-container .toc-main .toc-nav {
  padding: 0;
  margin: 1em 0;
  max-height: 480px;
}
.catalog-container .toc-main ol, .catalog-container .toc-main ul {
  padding-left: 20px;
}
.catalog-container .toc-main li {
  list-style-type: none;
  line-height: 1.5;
}
.nav-container {
  width: 100%;
  padding-top: 1.5em;
  margin-top: 1.5em;
  border-top: 1px dashed #e5e5e5;
  font-weight: 600;
}
.nav-container:after,
.nav-container:before {
  content: '';
  display: table;
  clear: both;
}
.bots {
  margin: auto auto;
}
.admin-button {
  width: 10em;
  margin: 2em;
  padding: 1em 2em;
  text-align: center;
  background-color: rgb(139, 89, 71);
  color: white;
  cursor: pointer;
  display: inline-block;
}
#return-main:hover {
  border-bottom-width: 1px;
  border-bottom-color: transparent;
}
@-moz-keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
