	<header class="header">
		<div class="header-container">
			<a class="home-link" href="/">
				<span>NBA 新闻聚合</span>
			</a>
			<ul class="right-list">
				<li class="list-item">
					<form id="search-form">
						<input class="search-box" type="text" required placeholder="搜索" /><button class="search-go" type="submit">Go</button>
					</form>
				</li>
				<li class="list-item"><i class="fa fa-search item-icon-link"></i></li>
				<li class="list-item"><a href="/" class="item-link">主页</a></li>
				<li class="list-item"><a href="/about/" class="item-link">关于</a></li>
			</ul>
		</div>
	</header>
