{% load staticfiles %}
{% include 'head.html' %}
{% include 'header.html' %}
		<main class="app-body flex-box">
			<div class="cards">
				{% if news_count %}
				{% for entry in news %}
				<article class="article-card">
					<h2 class="article-head">
						<a href="/news/{{ entry.id }}/">{{ entry.title }}</a>
					</h2>
					<p class="article-date">{{ entry.published | date:"Y年n月j日 G:i:s" }}</p>
					<div class="article-summary">
						<p>{{ entry.excerpt }}</p>
					</div>
					<a class="more" href="/news/{{ entry.id }}/">继续阅读</a>
				</article>
				{% endfor %}
				{% include 'pagination.html' %}
				{% else %}
				<article class="article-card">
					<h2 class="article-head">噫，现在还没有新闻 _(:з」∠)_</h2>
					<div class="article-summary"></div>
				</article>
				{% endif %}
			</div>
			<aside class="catalog-container">
				<div class="toc-main">
					<strong class="toc-title">球队热度榜</strong>
					<table class="table-trending">
						<tr>
							<th>球队</th>
							<th>热度</th>
						</tr>
						{% for team in trend %}
						<tr>
							<td><a href="/team/{{ team.id }}/">{{ team.name }}</a></td>
							<td>{{ team.count }}</td>
						</tr>
						{% endfor %}
					</table>
					<strong class="toc-title">站点统计</strong>
					<ul class="toc-nav">
						<li><strong>新闻总数</strong>：{{ news_count }}</li>
						<li><strong>页面加载时间</strong>：{{ loading_time | floatformat:6 }} 秒</li>
					</ul>
				</div>
			</aside>
		</main>
{% include 'footer.html' %}
