{% load staticfiles %}
{% include 'head.html' %}
{% include 'header.html' %}
		<div id="article-banner">
			<h2>{{ title }}</h2>
			<p class="post-date">{{ published_time | date:"Y年n月j日 G:i:s" }}</p>
			<div class="arrow-down"><a href="javascript:;"></a></div>
		</div>
		<main class="app-body flex-box">
			<article class="post-article">
				<section class="news-entry">
					<img src="{{ image_url }}"></img>
					{{ content | safe }}
				</section>
				<div class="nav-container">
					来源：{{ source | safe }}
				</div>
			</article>
		</main>
{% include 'footer.html' %}
