{% load staticfiles %}
{% include 'head.html' %}
{% include 'header.html' %}
		<div id="article-banner">
			<h2>搜索结果</h2>
			<p class="post-date">结果总数：{{ search_count }} | 搜索用时：{{ search_time | floatformat:8 }} 秒</p>
			<div class="arrow-down"><a href="javascript:;"></a></div>
		</div>
		<main class="app-body flex-box">
			<div class="cards">
				{% for entry in news %}
				<article class="article-card">
					<h2 class="article-head">
						<a href="/news/{{ entry.id }}/">{{ entry.title }}</a>
					</h2>
					<p class="article-date">{{ entry.published | date:"Y年n月j日 G:i:s" }}</p>
					<div class="article-summary">
						<p>{{ entry.excerpt }}</p>
					</div>
					<a class="more" href="/news/{{ entry.id }}/">继续阅读</a>
				</article>
				{% endfor %}
				{% include 'pagination.html' %}
			</div>
		</main>
{% include 'footer.html' %}
