{% load staticfiles %}
{% include 'head.html' %}
{% include 'header.html' %}
		<div id="article-banner">
			<h2>{{ full_name }} ({{ full_en_name }})</h2>
			<div class="arrow-down"><a href="javascript:;"></a></div>
		</div>
		<main class="app-body flex-box">
			<div class="cards">
				{% for entry in news %}
				<article class="article-card">
					<h2 class="article-head">
						<a href="/news/{{ entry.id }}/">{{ entry.title }}</a>
					</h2>
					<p class="article-date">{{ entry.published | date:"Y年n月j日 G:i:s" }}</p>
					<div class="article-summary">
						<p>{{ entry.excerpt }}</p>
					</div>
					<a class="more" href="/news/{{ entry.id }}/">继续阅读</a>
				</article>
				{% endfor %}
				{% include 'pagination.html' %}
			</div>
			<aside class="catalog-container">
				<div class="toc-main">
					<strong class="toc-title">基本资料</strong>
					<ul class="toc-nav">
						<li><strong>加入 NBA</strong>：{{ joined }}</li>
						<li><strong>赛区</strong>：{{ area }}</li>
						<li><strong>主场</strong>：{{ arena }}</li>
					</ul>
					<strong class="toc-title">球员列表</strong>
					<ul class="toc-nav">
						{% for player in players %}
						<li>{{ player.full_name }}</li>
						{% endfor %}
					</ul>
				</div>
			</aside>
		</main>
{% include 'footer.html' %}
